$background-color: rgb(218, 170, 14);
$color-white: rgb(255, 255, 255);
$color-grey-light: rgb(212, 213, 216);
$color-black: rgb(49, 49, 48);

$font-stack: Arial, Helvetica, Sans-Serif;
$font-cursive: 'Sacramento', cursive;
