// styles.scss
@import 'colors';
@import 'nav';

@mixin flex-center {
  display:flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  font-family: $font-stack; 
  margin: 0;
  padding: 10px;
}

.container {
  background-color: $background-color;
  justify-content:space-around;

// Main section
main {
  padding: 10px 30px 10px 30px;
  display: flex;
  justify-content: space-between;
  

  #intro-text {
    background-color: $color-grey-light;
    width: 40%;
    border: 20px solid $color-white;
    border-right-width: 0;

    span {
      font-size: 3em;
      font-family: $font-cursive;
      @include flex-center;
    }

    h3 {
      font-size: 2em;
      color: #333;
      @include flex-center;
    }

    p {
      font-size: 1em;
      color: #666;
      @include flex-center;
    }

    .submit-button {
      background: $background-color; 
      border: none;
      border-radius: 10px;
      padding: 1em 2em;
      position: relative;
      left: 30%;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background: darken($background-color, 10%); 
      }
    }
  }

  #intro-image {
    border: 20px solid $color-white;
    border-left-width: 0;
    width: 60%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

// Footer
footer {
  padding: 10px 0 12px 80px;
  color: $color-black;
}
}